In [1]:
import csv
import pandas as pd
import sys
reload(sys)
sys.setdefaultencoding('utf8')
# -*- coding: utf-8 -*-
airbnb_total_df = pd.read_csv("listings.csv",low_memory=False)
airbnb_total_df.head()

In [2]:

airbnb_df = airbnb_total_df[["id","name","listing_url","neighbourhood","zipcode","price","property_type","room_type","accommodates","number_of_reviews","review_scores_rating","review_scores_location"]]
airbnb_df["name"] = airbnb_df["name"].str.decode('utf8')



#change the price to number,get rid of $
airbnb_df["price"] = airbnb_df["price"].apply(lambda x:x[1:])

In [3]:
airbnb_df.dtypes

id                          int64
name                       object
listing_url                object
neighbourhood              object
zipcode                    object
price                      object
property_type              object
room_type                  object
accommodates                int64
number_of_reviews           int64
review_scores_rating      float64
review_scores_location    float64
dtype: object

In [4]:
airbnb_df.head()

,id,name,listing_url,neighbourhood,zipcode,price,property_type,room_type,accommodates,number_of_reviews,review_scores_rating,review_scores_location
0,2515,Stay at Chez Chic budget room #1,https://www.airbnb.com/rooms/2515,Harlem,10026,59.00,Apartment,Private room,3,173,93.0,9.0
1,2539,Clean & quiet apt home by the park,https://www.airbnb.com/rooms/2539,Kensington,11218,149.00,Apartment,Private room,4,8,98.0,10.0
2,2595,Skylit Midtown Castle,https://www.airbnb.com/rooms/2595,Midtown,10018,225.00,Apartment,Entire home/apt,2,36,94.0,10.0
3,3330,++ Brooklyn Penthouse Guestroom ++,https://www.airbnb.com/rooms/3330,Williamsburg,11206,70.00,Apartment,Private room,2,34,97.0,10.0
4,3647,THE VILLAGE OF HARLEM....NEW YORK !,https://www.airbnb.com/rooms/3647,Harlem,10027,150.00,Apartment,Private room,2,0,NaN,NaN

In [5]:
airbnb_address_df = airbnb_total_df[["id","neighbourhood","zipcode","latitude","longitude"]]
airbnb_address_df.head()

     id neighbourhood zipcode   latitude  longitude
0  2515        Harlem   10026  40.799205 -73.953676
1  2539    Kensington   11218  40.647486 -73.972370
2  2595       Midtown   10018  40.753621 -73.983774
3  3330  Williamsburg   11206  40.708558 -73.942362
4  3647        Harlem   10027  40.809018 -73.941902

In [6]:
airbnb_address_df.dtypes

id                 int64
neighbourhood     object
zipcode           object
latitude         float64
longitude        float64
dtype: object

In [7]:
airbnb_roomtype = airbnb_df[["id","price","weekly_price","property_type","room_type","monthly_price","accommodates"]]
airbnb_roomtype.head()

KeyError: "['weekly_price' 'monthly_price'] not in index"

In [ ]:
airbnb_roomreview = airbnb_df[["id","number_of_reviews","review_scores_rating","review_scores_location"]]
airbnb_roomreview.head()

In [ ]:
airbnb_host_df = airbnb_total_df[["id","host_id","host_url","host_name"]]

airbnb_host_df.head()

In [ ]:
yelp_total_df = pd.read_json("yelp_nyc.json")

In [ ]:
#clean the yelp total data
yelp_total_df = yelp_total_df[(yelp_total_df["state"] == "NY")]
ratings = []
zipcodes = range(10001,12000)
for i in range(10):
    ratings.append(i/2.0)
yelp_total_df = yelp_total_df.loc[yelp_total_df['rating'].isin(ratings)]
yelp_total_df = yelp_total_df[(yelp_total_df["review_count"] >0)]
yelp_total_df = yelp_total_df.loc[yelp_total_df['zip_code'].isin(zipcodes)]

In [ ]:
yelp_total_df.dtypes

In [ ]:

yelp_total_df.head()

In [ ]:
yelp_df = yelp_total_df[["id","name","categories","url","price","rating","review_count"]]
yelp_df = yelp_df.dropna()
yelp_df.dtypes

In [ ]:
yelp_df.head()

In [ ]:
yelp_address_df = yelp_total_df[["id","city","address","latitude","longitude","zip_code"]]
yelp_address_df = yelp_address_df.sort_values(['zip_code'])
yelp_address_df.head()

In [ ]:
airbnb_df.to_csv("airbnb.csv",index = False)
airbnb_roomtype.to_csv("airbnb_roomtype.csv",index=False)
airbnb_roomreview.to_csv("airbnb_roomreview.csv",index = False)
airbnb_host_df.to_csv("airbnb_host.csv",index = False)

In [ ]:
airbnb_address_df.to_csv("airbnb_address.csv",index = False)

In [ ]:
yelp_address_df.to_csv("yelp_address.csv",index = False)
yelp_df.to_csv("yelp.csv",index = False)