In [1]:
import csv
import pandas as pd
import sys
reload(sys)
sys.setdefaultencoding('utf8')
# -*- coding: utf-8 -*-
airbnb_total_df = pd.read_csv("listings.csv",low_memory=False)
airbnb_total_df.head()

In [2]:

airbnb_df = airbnb_total_df[["id","name","listing_url","neighbourhood","zipcode","price","property_type","room_type","accommodates","number_of_reviews","review_scores_rating","review_scores_location"]]
airbnb_df["name"] = airbnb_df["name"].str.decode('utf8')



#change the price to number,get rid of $
airbnb_df["price"] = airbnb_df["price"].apply(lambda x:x[1:])

In [3]:
airbnb_df.dtypes

id                          int64
name                       object
listing_url                object
neighbourhood              object
zipcode                    object
price                      object
property_type              object
room_type                  object
accommodates                int64
number_of_reviews           int64
review_scores_rating      float64
review_scores_location    float64
dtype: object

In [4]:
airbnb_df.head()

,id,name,listing_url,neighbourhood,zipcode,price,property_type,room_type,accommodates,number_of_reviews,review_scores_rating,review_scores_location
0,2515,Stay at Chez Chic budget room #1,https://www.airbnb.com/rooms/2515,Harlem,10026,59.00,Apartment,Private room,3,173,93.0,9.0
1,2539,Clean & quiet apt home by the park,https://www.airbnb.com/rooms/2539,Kensington,11218,149.00,Apartment,Private room,4,8,98.0,10.0
2,2595,Skylit Midtown Castle,https://www.airbnb.com/rooms/2595,Midtown,10018,225.00,Apartment,Entire home/apt,2,36,94.0,10.0
3,3330,++ Brooklyn Penthouse Guestroom ++,https://www.airbnb.com/rooms/3330,Williamsburg,11206,70.00,Apartment,Private room,2,34,97.0,10.0
4,3647,THE VILLAGE OF HARLEM....NEW YORK !,https://www.airbnb.com/rooms/3647,Harlem,10027,150.00,Apartment,Private room,2,0,NaN,NaN

In [5]:
airbnb_address_df = airbnb_total_df[["id","neighbourhood","zipcode","latitude","longitude"]]
airbnb_address_df.head()

     id neighbourhood zipcode   latitude  longitude
0  2515        Harlem   10026  40.799205 -73.953676
1  2539    Kensington   11218  40.647486 -73.972370
2  2595       Midtown   10018  40.753621 -73.983774
3  3330  Williamsburg   11206  40.708558 -73.942362
4  3647        Harlem   10027  40.809018 -73.941902

In [6]:
airbnb_address_df.dtypes

id                 int64
neighbourhood     object
zipcode           object
latitude         float64
longitude        float64
dtype: object

In [7]:
airbnb_roomtype = airbnb_df[["id","price","property_type","room_type","accommodates"]]
airbnb_roomtype.head()

     id   price property_type        room_type  accommodates
0  2515   59.00     Apartment     Private room             3
1  2539  149.00     Apartment     Private room             4
2  2595  225.00     Apartment  Entire home/apt             2
3  3330   70.00     Apartment     Private room             2
4  3647  150.00     Apartment     Private room             2

In [8]:
airbnb_roomreview = airbnb_df[["id","number_of_reviews","review_scores_rating","review_scores_location"]]
airbnb_roomreview.head()

     id  number_of_reviews  review_scores_rating  review_scores_location
0  2515                173                  93.0                     9.0
1  2539                  8                  98.0                    10.0
2  2595                 36                  94.0                    10.0
3  3330                 34                  97.0                    10.0
4  3647                  0                   NaN                     NaN

In [9]:
airbnb_host_df = airbnb_total_df[["id","host_id","host_url","host_name"]]

airbnb_host_df.head()

     id  host_id                                host_url  host_name
0  2515     2758  https://www.airbnb.com/users/show/2758      Steph
1  2539     2787  https://www.airbnb.com/users/show/2787       John
2  2595     2845  https://www.airbnb.com/users/show/2845   Jennifer
3  3330     4177  https://www.airbnb.com/users/show/4177       Jbee
4  3647     4632  https://www.airbnb.com/users/show/4632  Elisabeth

In [10]:
yelp_total_df = pd.read_json("yelp_nyc.json")

In [11]:
#clean the yelp total data
yelp_total_df = yelp_total_df[(yelp_total_df["state"] == "NY")]
ratings = []
zipcodes = range(10001,12000)
for i in range(10):
    ratings.append(i/2.0)
yelp_total_df = yelp_total_df.loc[yelp_total_df['rating'].isin(ratings)]
yelp_total_df = yelp_total_df[(yelp_total_df["review_count"] >0)]
yelp_total_df = yelp_total_df.loc[yelp_total_df['zip_code'].isin(zipcodes)]

In [12]:
yelp_total_df.dtypes

CAMIS             int64
address          object
categories       object
city             object
id               object
latitude        float64
longitude       float64
name             object
phone            object
price            object
rating          float64
review_count      int64
state            object
transactions     object
url              object
zip_code          int64
dtype: object

In [13]:

yelp_total_df.head()

,CAMIS,address,categories,city,id,latitude,longitude,name,phone,price,rating,review_count,state,transactions,url,zip_code
1,41338317,1 Beard St,"['scandinavian', 'hotdogs']",Brooklyn,ikea-restaurant-brooklyn,40.671485,-74.011238,IKEA Restaurant,18888884532,1,3.0,165,NY,,https://www.yelp.com/biz/ikea-restaurant-brook...,11231
2,40365043,1 Bouck Ct,['bowling'],Brooklyn,shell-lanes-brooklyn,40.588973,-73.973625,Shell Lanes,17183366700,,3.0,76,NY,,https://www.yelp.com/biz/shell-lanes-brooklyn?...,11223
3,50059683,1 Broadway,"['coffee', 'bakeries']",New York,filicori-zecchini-new-york-11,40.704900,-74.014160,Filicori Zecchini,,2,4.0,20,NY,,https://www.yelp.com/biz/filicori-zecchini-new...,10004
4,50033195,1 Catherine St,['bubbletea'],New York,gong-cha-new-york-12,40.713861,-73.997392,Gong Cha,12123437019,1,3.5,64,NY,,https://www.yelp.com/biz/gong-cha-new-york-12?...,10038
5,40374136,1 City Island Ave,['seafood'],Bronx,tonys-pier-restaurant-bronx,40.837601,-73.783073,Tony's Pier Restaurant,17188851424,2,3.5,136,NY,,https://www.yelp.com/biz/tonys-pier-restaurant...,10464

In [14]:
yelp_df = yelp_total_df[["id","name","categories","url","price","rating","review_count"]]
yelp_df = yelp_df.dropna()
yelp_df.dtypes

id               object
name             object
categories       object
url              object
price            object
rating          float64
review_count      int64
dtype: object

In [15]:
yelp_df.head()

,id,name,categories,url,price,rating,review_count
1,ikea-restaurant-brooklyn,IKEA Restaurant,"['scandinavian', 'hotdogs']",https://www.yelp.com/biz/ikea-restaurant-brook...,1,3.0,165
2,shell-lanes-brooklyn,Shell Lanes,['bowling'],https://www.yelp.com/biz/shell-lanes-brooklyn?...,,3.0,76
3,filicori-zecchini-new-york-11,Filicori Zecchini,"['coffee', 'bakeries']",https://www.yelp.com/biz/filicori-zecchini-new...,2,4.0,20
4,gong-cha-new-york-12,Gong Cha,['bubbletea'],https://www.yelp.com/biz/gong-cha-new-york-12?...,1,3.5,64
5,tonys-pier-restaurant-bronx,Tony's Pier Restaurant,['seafood'],https://www.yelp.com/biz/tonys-pier-restaurant...,2,3.5,136

In [16]:
yelp_address_df = yelp_total_df[["id","city","address","latitude","longitude","zip_code"]]
yelp_address_df = yelp_address_df.sort_values(['zip_code'])
yelp_address_df.head()

,id,city,address,latitude,longitude,zip_code
613,dr-smood-new-york-3,New York,1151 Broadway,40.744320,-73.989190,10001
1748,rare-bar-and-grill-new-york-5,New York,152 W 26th St,40.745648,-73.993761,10001
5680,caffe-bene-new-york-37,New York,39 W 32nd St,40.748157,-73.987312,10001
3314,belgian-beer-cafe-new-york-4,New York,220 5th Ave,40.743680,-73.988250,10001
3834,bottino-new-york,New York,246 10th Ave,40.748450,-74.003210,10001

In [17]:
airbnb_df.to_csv("airbnb.csv",index = False)
airbnb_roomtype.to_csv("airbnb_roomtype.csv",index=False)
airbnb_roomreview.to_csv("airbnb_roomreview.csv",index = False)
airbnb_host_df.to_csv("airbnb_host.csv",index = False)

In [18]:
airbnb_address_df.to_csv("airbnb_address.csv",index = False)

In [19]:
yelp_address_df.to_csv("yelp_address.csv",index = False)
yelp_df.to_csv("yelp.csv",index = False)